.container{
    width: 1140px;
    margin: 0 auto;
}
body{
    background-color: #ffdfe4;
}
img{
    max-width: 200px;
}
.box{
    text-align: center;
}
.btn{
    background-color: #fff;
    border: 1px solid aqua;
    margin: 10px;
}
a{
    text-decoration: none;
    color: #000;
}
.avt{
    display: flex;
}
.avt img{
    max-width: 100px;
    border-radius: 20px;
}